* {
  box-sizing: border-box;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css?family=Poppins:regular,bold,italic&subset=latin,latin-ext');

html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  border: none !important;
}

html * {
  font-family: 'Poppins', sans-serif !important;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

input[value="0.00"] {
  width: 4ch;
}

main {
  padding: 0px;
  margin: 0px;
}

.btn-header {
  vertical-align: baseline !important;
  font-style: normal;
  font-weight: 700 !important;
  font-size: 16px !important;
  line-height: 24px !important;
  height: 56px;
  border: none !important;
}

.buy-kelp-btn {
  letter-spacing: 0px;
  text-align: center;
  width: 700px;
  max-width: 100%;
  font-weight: 700 !important;
  font-size: 16px !important;
  line-height: 24px !important;
  height: 56px;
  border: none !important;
}

.base-options-text {
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: center;
}

.center-items {
  text-align: center;
  display: block;
  margin: 0 auto;
}

.countdown-time-metric {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
}

.countdown-value-text {
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 15px;
  text-align: right;
}

.container {
  border-radius: 10px;
}

.dropdown #dropdown-currencies {
  margin-right: 20px;
  background-color: #46d6a2;
}

.eth-balance-text {
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
}

.events .image {
  /* content: \"\"; */
  position: absolute;
  z-index: 2;
  left: 3;
  transform: translateX(60%);
}

.events .image1 {
  /* content: \"\"; */
  position: absolute;
  z-index: 2;
  left: 1;
  transform: translateX(5%);
}

.events li {
  display: flex;
  color: #999;
}

.events span {
  position: relative;
}

.modal-dialog {
  width: 450px;
  max-width: 100%;
}

.confirm-purchase-btn {
  width: 100%;
  font-style: normal;
  font-weight: 700 !important;
  font-size: 16px !important;
  line-height: 24px !important;
  height: 56px;
  border: none !important;
}

.events span::before {
  content: \"\";
  position: absolute;
  z-index: 1;
  left: 0;
  height: 100%;
  border-left: 2px #46d6a2 solid;
  margin-left: -1px;
}

.events strong {
  display: block;
  font-weight: bolder;
}

.events time {
  position: relative;
  padding: 0 0.7em;
  border-right: 2px solid #46d6a2;
}

.events time.last-time {
  border-right: none;
}

.events {
  width: 100%;
}

.events,
.events *::before,
.events *::after {
  box-sizing: border-box;
  font-family: arial;
}

.input-amount {
  width: 4ch;
  font-size: 60px;
  font-weight: 600;
  line-height: 75px;
  letter-spacing: 0px;
  text-align: left;
}

.input-amount:focus {
  outline: none;
}

.total-raised-text {
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0px;
}

.kelp-token-logo {
  display: inline-block;
  margin-right: 5px;
  height: 24px;
  width: auto;
}

.sub-heading-text {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
}

.payment-option-card {
  height: 100px;
  width: 330px;
  max-width: 100%;
  border-radius: 10px;
  border: 2px solid #F1F1F0;
}

.container {
  max-width: 800px !important;
}

.progress-container .progress {
  height: 15px;
  background-color: #cdcece !important;
  border-radius: 7.5px;
}

.progress-container .progress-bar {
  background-color: #46d6a2 !important;
  position: absolute;
  top: -5px;
  height: 19px;
  border-radius: 20px;
}

.py-8 {
  padding-top: 0px !important;
}

.text-white {
  color: white;
}

.toggle-btn {
  background-color: #46d6a2 !important;
}

.token-balance {
  margin-right: 20px;
  margin-left: 20px;
  width: max-content;
  max-width: 100%;
  border-radius: 10px;
}

.token-balance-strong {
  vertical-align: middle !important;
  border: none;
  color: #46d6a2;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: right;
}

.token-balance-text {
  pointer-events: none;
  font-weight: 600;
  font-style: normal;
  font-weight: 700 !important;
  font-size: 16px !important;
  line-height: 24px !important;
  background-color: white !important;
  color: #46d6a2;
  margin: 0 auto;
}

.tracking-widest {
  font-size: 48px !important;
  font-weight: 700 !important;
}

#connect-wallet {
  background-color: #46d6a2 !important;
  font-weight: 700;
  height: 56px;
  color: #FFF;
}

.heading-text {
  font-size: 32px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0px;
}

#connect-wallet:hover{
  background-color: #36c692 !important;
}

#enter-amount-text {
  display: block;
  margin: 0 auto;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #cdcece;
}