@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #f1f1f0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.progress-container .progress {
  height: 10px;
  background-color: #cdcece !important;
  border-radius: 20px;
}

.progress-container .progress-bar {
  background-color: #46d6a2 !important;
  position: absolute;
  top: -5px;
  height: 19px;
  border-radius: 20px;
}
